.hero {
  margin: 0 50px 100px;
  background: white;
}

.content {
  max-width: 1600px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.wrap {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.title {
  font-size: 42px;
  font-weight: 700;
  line-height: 1.2;
  color: #000;
  margin: 0;
}

.description {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  color: #4d4d4d;
  white-space: nowrap;
  margin: 0;
  max-width: 600px;
}

.buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 328px;
  gap: 10px;
}

.primaryButton {
  width: 328px;
  height: 60px;
  background: #578c62;
  color: white;
  border: none;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.2s;
}

.primaryButton:hover {
  background: #578c62d6;
}

.secondaryButtonWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.secondaryButton {
  width: 328px;
  height: 60px;
  background: white;
  color: #000000;
  border: 2px solid #ddd;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: border-color 0.2s;
}

.secondaryButton:hover {
  border-color: #bbb;
}

.responseTime {
  font-size: 12px;
  color: #888;
  text-align: center;
  margin: 0;
}

@media (max-width: 1220px) {
  .hero {
    margin: 0 20px 85px;
  }
  .content {
    flex-direction: column;
    gap: 20px;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .title {
    font-size: 38px;
    font-weight: 700;
    line-height: 1.2;
    color: #000;
    margin: 0;
  }
  .buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    max-width: 780px;
  }
}

@media (max-width: 960px) {
  .hero {
    margin: 0 20px 55px;
  }
  .title {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.2;
    color: #000;
    margin: 0;
  }
  .description {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    color: #4d4d4d;
    white-space: normal;
    margin: 0;
    max-width: 600px;
  }
  .primaryButton {
    width: 310px;
  }
  .secondaryButton {
    width: 310px;
  }
}

@media (max-width: 480px) {
  .hero {
    margin: 0 20px 50px;
  }
  .content {
    flex-direction: column;
    gap: 18px;
    justify-content: center;
    align-items: center;
  }
  .wrap {
    gap: 15px;
  }
  .title {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
    color: #000;
    margin: 0;
  }
  .description {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.6;
    color: #4d4d4d;
    white-space: normal;
    margin: 0;
    max-width: 600px;
  }
  .buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 340px;
  }
  .primaryButton {
    width: 340px;
  }
  .secondaryButton {
    width: 340px;
  }
}
